{% extends "base.html.twig" %}

{% block title %}Modifier l'événement' {% endblock %}

{% block body %}
    <h1>Modifier l'événement {{ evenement.nom }} ?</h1>
    {{ form(formulaire) }}

   <a class="btn btn-warning" href="{{ path("evenement") }}"> Retour aux événements </a>
{% endblock %}