<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path("evenement") }}">  <img src="https://img.icons8.com/ultraviolet/50/000000/share.png"/></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("evenement") }}"> Accueil </a>
            </li>
            {% for e in evenement %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path("participants",{"idEvenement":e.id}) }}">{{ e.nom }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>

</nav>